.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(30%, auto);
    grid-gap: 10px;
}

.grid-container3{
    display: grid;
    grid-template-columns: 2fr 3fr ;
    gap: 1rem;
    place-content: center;
    background-color: rgb(32, 32, 32);
    padding: 1rem;
}

.grid-item-navg{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* border: 2px solid black; */
    align-items: center;
    gap: 1rem;
    
}

/* .headertext{
    max-width: 1000px;
    margin: 0 auto;
} */

.dp{
    border-radius: 50%;
}


img{
    transition: transform .25s;

}
img:hover{
    transform:scale(1.25);
}

a,a:visited{
    font-size: 2vw;
    font-family: 'Clash Display', sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}
a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

a:active{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

h2{
    font-family: 'General Sans', sans-serif;
    font-size: 30;
}

h1{
    font-family: 'Clash Display', sans-serif;
}
body{
    /* border: 2px solid black; */
    margin: 0;
}

main{
    margin: 5%;
}

.nav-bar{
    display: none;
}

span{
    white-space: wrap;
}




/* <!-- <div class="image">
        <img class="dp" src="photo.png" width="100%";>
    </div> --> */

/* For mobile phones: */
@media screen and (max-width: 480px) {
    .grid-container{
        grid-template-columns: 1fr;
    }
    .nav-bar{
        display: block;
        position: absolute;
        right: 100;
        width: 100%;
    }
    .grid-item-navg{
        display: none;
    }
    img:hover{
        transform: none;
    }


}
